# Python
**/*.pyc
**/__pycache__

# pip install -e generated
*.egg-info/

# Intellij
.idea/

# Google credentials files
**/GCS-service-account-key.*

# Virtual environment files
/venv*/

# Data subdirs
/extracted_data/
/merged_data/
/transformed_data/
/cda_tsvs/
/BigQuery_JSONL/
/SQL_data/


