# MacOS
.DS_Store

# Python
**/*.pyc
**/__pycache__
build/
dist/
zz00_build
zz01_install_somewhere
cds_sort_of_original_script_timestamps.txt

# pip install -e generated
*.egg-info/

# Intellij
.idea/

# Google credentials files
**/GCS-service-account-key.*

# Virtual environment files
/venv*/

# Data subdirs
/extracted_data/
/merged_data/
/transformed_data/
/cda_tsvs/
/BigQuery_JSONL/
/SQL_data/


